.footer_section {
    width: 100vw;
    height: 200px;
    background-color: #B71234;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    align-items: center;
}

.footer_text {
    margin-right: 500px;
    color: white;
}

.footer_images {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-around;
    margin-right: 300px;
}

.footer_home {
    background-image: url('../images/Home.png');
    width: 36px;
    height: 36px;
}

.footer_facebook {
    background-image: url('../images/Facebook.png');
    width: 30px;
    height: 30px;
}

.footer_email {
    background-image: url('../images/Mail.png');
    width: 36px;
    height: 36px;
}

.footer_search {
    background-image: url('../images/Search.png');
    width: 30px;
    height: 30px;
}

.footer_instagram {
    background-image: url('../images/Instagram.png');
    width: 36px;
    height: 36px;
}